<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- <suite name="Suite"> <test thread-count="5" name="Test"> <classes> <class 
	name="Academy.E2E.OfficerHomePage"/> <class name="Academy.E2E.OfficerLogin"/> 
	<class name="Academy.E2E.AppTest"/> </classes> </test> <comment Test> </suite> 
	<comment Suite> -->

<suite name="Suite">
	<!-- parallel="tests" -->
	<listeners>
		<listener class-name="officerSide.Listeners"/>
	</listeners>
	
	<test  name="Officer login Test">
		<classes>
			<class name="officerSide.OfficerLogin"/>
		</classes>
	</test>
	<test thread-count="5" name="Officer Home Page Test">
		<classes>
			<class name="officerSide.OfficerHomePage"/>
		</classes>
	</test>
	<!-- Test -->
</suite> <!-- Suite -->